.button {
  position: relative;
  background: transparent;
  border: none;
  color: #fff;
  padding: 0;
  margin: 0 6px;
  height: 30px;
  width: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  opacity: 1;
  transition: all 300ms ease-in-out;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-pause-volume {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.fullscreen-speed {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}



.timeline {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timeline-segments {
  position: relative;
  left: 0;
  height: 5px;
  margin-right: 3px;
  background-color: #6a6969;
  transition: height 150ms ease-in-out;
}
.timeline-segments-preview {
  position: absolute;
  left: 0;
  background: #f2f2f2d4;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.timeline-segments-progress {
  position: absolute;
  left: 0;
  background: #f84b4b;
  top: 0;
  bottom: 0;
  z-index: 2;
}
.timeline-segments:hover {
  height: 10px;
}

.timeline-label {
  position: absolute;
  top: -50px;
  color: #efefef;
  display: none;
  font-weight: bold;
  align-items: center;
  flex-direction: column;
  left: calc(var(--label-percent) * 100% - var(--label-width) * 1px);
  text-shadow: 2px -5px 21px rgba(0, 0, 0, 1);
}

.timeline:hover .timeline-label {
  display: flex;
}

.timeline-container {
  position: relative;
  height: 3px;
  width: calc(100% - 20px);
  cursor: pointer;
  margin: 0px 10px 10px 10px;
  display: flex;
  align-items: center;
  transition: all 150ms ease-in-out;
  opacity: 1;
}

